p {
    text-align: center;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-weight: lighter;
    font-size: 50px;
}

img {
    margin: auto;
}

div {
    text-align: center;
}

.btn {
    margin-top: 5%;
    background-color: #f15f4c;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px;
    padding-left: 50px;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-weight: lighter;
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
    display: inline-block;
}

.btn:hover {
    background-color: #16A085;
}

#Design {
    float: right;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-weight: lighter;
    font-size: 30px;
    margin-top: 4.5%;
    padding-right: 20px;
}


/* Design */

#Design {
    margin-left: 0px;
    width: 648px;
    min-height: 44px;
    box-shadow: 0px 0px 11px 0px #000000;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transform: translatex(-39px) translatey(0px);
    margin-left: 0px;
    width: 412px;
    padding-right: 8px;
    filter: sepia(0.02);
    background-image: linear-gradient(91deg, #74ebd5 0%, #acb6e5 100%);
    transform: translatex(-72px) translatey(-5px);
    padding-right: 0px;
    padding-left: 18px;
}


/* Button */

div div input[type=button] {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

div img {
    display: inline-block;
    width: 448px;
    min-height: 257px;
}

.NightCity {
    color: #cccccc;
    position: absolute;
    top: 500px;
    right: 664px;
    left: 205px;
    bottom: 1368px;
}


/* Heading */

div .NightCity h4 {
    transform: translatex(-155px) translatey(-226px);
    width: 74%;
}


/* Heading */

div .NightCity h2 {
    min-height: 36px;
    transform: translatex(-146px) translatey(-240px);
    width: 71%;
}

.card {
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    position: relative;
    left: 70px;
    transition: transform 0.5s;
}

.card1 {
    background-image: url(https://images3.alphacoders.com/592/thumb-1920-592118.jpg)
}

.card2 {
    background-image: url(https://images.alphacoders.com/460/thumbbig-460216.webp)
}

.card3 {
    background-image: url(https://images2.alphacoders.com/457/thumbbig-457366.webp)
}

.card4 {
    background-image: url(https://images5.alphacoders.com/381/thumbbig-381340.webp)
}


/* Division */

body>div:nth-child(1) {
    transform: translatex(0px) translatey(9px);
    height: 676px;
}

.card:hover {
    transform: translateY(-40px);
}

.logo {
    width: 300px;
    cursor: pointer;
    position: relative;
    top: -151px;
    left: -688px;
}

.img1 {
    cursor: pointer;
    position: relative;
    top: 20px;
    left: 20px;
}


/* Image */

div img {
    transform: translatex(161px) translatey(7px) !important;
}


/* Logo */

div .logo {
    transform: translatex(12px) translatey(7px) !important;
    width: 386px;
}


/* Division */

body>div:nth-child(1) {
    transform: translatex(0px) translatey(0px);
}

div div input[type=button] {
    position: relative;
    left: -17px;
}


/* Logo */

div .logo {
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 25px;
}


/* Division */

body>div:nth-child(1) {
    transform: translatex(0px) translatey(0px);
}


/* Division */

body>div:nth-child(1) {
    transform: translatex(0px) translatey(0px);
}


/* Col */

div .col {
    transform: translatex(833px) translatey(-491.6px);
    width: 45%;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
 :root {
    --primary: #08aeea;
    --secondary: #13D2B8;
    --purple: #bd93f9;
    --pink: #ff6bcb;
    --blue: #8be9fd;
    --gray: #333;
    --font: "Poppins", sans-serif;
    --gradient: linear-gradient(40deg, #ff6ec4, #7873f5);
    --shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font);
    font-size: 1.4rem;
    overflow-x: hidden;
    font-weight: 300;
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
}

input,
button,
textarea,
select {
    font-family: var(--font);
    font-size: 1.4rem;
    font-weight: 300;
    outline: none;
    border: 0;
    margin: 0;
    padding: 0;
    border-radius: 0;
    -webkit-appearance: none;
}

button {
    cursor: pointer;
}

.social-share {
    width: 100%;
    max-width: 400px;
}

.social-share-text {
    color: white;
    margin-left: 20px;
    font-size: 16px;
}

.social-share-item {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.social-share-item.facebook {
    background-color: #3b5999;
}

.social-share-item.facebook .social-share-icon {
    color: #3b5999;
}

.social-share-item.instagram {
    background-color: #e4405f;
}

.social-share-item.instagram .social-share-icon {
    color: #e4405f;
}

.social-share-item.twitter {
    background-color: #55acee;
}

.social-share-item.twitter .social-share-icon {
    color: #55acee;
}

.social-share-item+.social-share-item {
    margin-top: 20px;
}


/* Social share */

.social-share {
    transform: translatex(78px) translatey(-182px);
    min-height: 178px;
}


/* Body */

body {
    height: 709px;
}


/* Social share item */

.social-share .social-share-item {
    min-height: 47px;
}


/* Body */

body {
    height: 697px;
}


/* Span Tag */

.social-share .social-share-item span {
    transform: translatex(46px);
}


/* Card */

#content .card {
    box-shadow: 0px 0px 6px 0px #000000;
}


/* Logo */

div .logo {
    box-shadow: 0px 0px 6px 0px #000000;
}


/* Social share */

.social-share {
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}