doctype html
head
  meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
  title GAME CHESS
  link(rel='stylesheet' href='css/stylehome.css')
  script(src='../js/home.js')
  link(rel='stylesheet' href='https://pro.fontawesome.com/releases/v5.10.0/css/all.css' integrity='sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p' crossorigin='anonymous')
div
  p MASTER CHESS
  audio(autoplay='' loop='')
    source(src='mp3/Mii_Chanel.mp3')
  img.img1(src='./img/Chessgif.gif' width='217' height='218' alt='')
  img.logo(src='https://betacssjs.chesscomfiles.com/bundles/web/images/social/gif-meta.65401f66.gif')
  div
    input.btn(type='button' value='START' onclick='Go()')
    br
    p#Design
      | Enjoy your game
  .NightCity
    h2 PLAY GAME TOGETHER
    h4
      | Do you feel like playing chess online with a friend? Nothing simpler. Invite him to play and face up to an online chess duel. To invite a friend to play online, send him an invitation from the app, and when he accepts it, you can compete.
      | Play multiplayer Chess &amp; defeat your friends!
  #content.col
    .card.card1
    .card.card2
    .card.card3
    .card.card4
.social-share
  .social-share-item.facebook
    i.fab.fa-facebook.social-share-icon
    span.social-share-text Press Start
  .social-share-item.instagram
    i.fab.fa-instagram.social-share-icon
    span.social-share-text Enter number room
  .social-share-item.twitter
    i.fab.fa-twitter.social-share-icon
    span.social-share-text Invite friend and play
